---
const { src, alt } = Astro.props;
---

<div class="relative size-32 rounded-full overflow-hidden bg-gray-200">
    <img src={src} alt={alt || 'Avatar'} class="w-full h-full object-cover" />
</div>