<a
    href="#"
    hx-post="/partials/home/"
    hx-trigger="click"
    hx-target="#main"
    hx-swap="innerHTML"
    hx-push-url="home"
    class="text-white text-2xl md:text-3xl font-bold md:mb-8"
    aria-label="Aller à la page d'accueil"
>
    Nicola Tournay
</a>